:root {
  --main-color: #06566b;
  --heading-color: #000;
  --text-color: #686665;
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  background-repeat: no-repeat;
}

/*Header*/

header {
  position: relative;
}

/*General*/

.container {
  max-width: 1190px;
  margin-left: 24px;
  margin-right: 24px;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin: 0;
}

h1 {
  color: #ffffff;
  position: absolute;
}

h2,
h3 {
  color: var(--heading-color);
}

p {
  margin: 0 0 8px 0;
}

a[target="_blank"] {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Cards*/

.cards-outer h2 {
  margin-bottom: 8px;
}

.cards {
  display: grid;
}

.card {
  background-color: #fff;
  box-shadow: 0 4px 8px #bdbdbd;
}

.card p {
  margin-left: 24px;
  margin-right: 24px;
}

.card-row {
  display: flex;
  margin: 16px 24px;
  align-items: center;
}

.card-row svg {
  margin: 8px 8px 0 8px;
}

.card-row h3 {
  margin-right: auto;
}

.img-placeholder {
  position: relative;
  z-index: 1;
  content: "screenshot of project";
  color: #fff;
  width: 100%;
  height: 260px;
  background: red;
  text-align: center;
}

.img-placeholder span {
  position: absolute;
  color: #fff;
  font-family: "Playfair Display", serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.img-placeholder img {
  z-index: 2;
}

.card:nth-child(1) .img-placeholder {
  background-color: #9e1c1c;
}

.card:nth-child(2) .img-placeholder {
  background-color: #7c75ca;
}

.card:nth-child(3) .img-placeholder {
  background-color: #5e8f4d;
}

.card:nth-child(4) .img-placeholder {
  background-color: #c363b4;
}

.card:nth-child(5) .img-placeholder {
  background-color: #a66821;
}

.card:nth-child(6) .img-placeholder {
  background-color: #2a7ba7;
}

.card svg {
  width: 24px;
  height: 24px;
}

/*Footer*/

footer {
  width: 100%;
  background-color: var(--main-color);
  color: #ffffff;
  margin-top: 126px;
}

footer h2,
footer a {
  color: #ffffff;
}

address {
  font-style: normal;
  margin: 24px 0;
}

.contact a svg {
  margin-right: 8px;
}

.social svg {
  width: 24px;
  height: 24px;
}

@media (max-width: 500px) {
  body {
    background-image: linear-gradient(
      150deg,
      var(--main-color) 50%,
      #ffffff 50%
    );
    background-size: 100% 38em;
    font-size: 16px;
  }

  .hero {
    margin-top: 32px;
  }

  .hero-left {
    position: relative;
  }

  .hero-left {
    margin-right: 8px;
    margin-bottom: 32px;
    margin-left: 8px;
  }

  .social {
    text-align: center;
    margin-top: 16px;
  }

  .social svg {
    margin-left: 8px;
    margin-right: 8px;
  }

  .cards-outer {
    margin-top: 72px;
  }

  .cards {
    grid-template-columns: 1fr;
    row-gap: 48px;
  }

  h1 {
    font-size: 48px;
    bottom: 0;
    margin: 8px;
  }

  h2 {
    text-align: center;
    font-size: 32px;
    margin: 0 0 16px 0;
  }

  h3 {
    font-size: 18px;
  }

  .card {
    padding-bottom: 56px;
  }

  .img-placeholder {
    height: 220px;
  }

  .img-placeholder span {
    font-size: 32px;
  }

  footer {
    padding-top: 24px;
  }

  footer h2 {
    margin-bottom: 8px;
  }

  address {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  footer .container {
    margin-left: 0;
    margin-right: 0;
  }

  footer p {
    font-size: 20px;
  }

  .contact-info {
    margin-left: 16px;
    margin-right: 16px;
  }

  .contact svg {
    display: none;
  }

  .contact .social svg {
    display: inline-block;
  }

  footer img {
    margin-top: 48px;
  }
}

@media (min-width: 501px) and (max-width: 1000px) {
  body {
    font-size: 20px;
    background-image: linear-gradient(
      162deg,
      var(--main-color) 50%,
      #ffffff 50%
    );
    background-size: 100% 44em;
  }

  .hero {
    margin-top: 56px;
  }

  .hero {
    position: relative;
    margin-top: 190px;
    background-color: #fff;
    margin-left: 46px;
    margin-right: 46px;
  }

  .hero-left {
    margin-right: 24px;
    max-width: 65%;
    float: left;
    margin-left: -15%;
    margin-top: -130px;
  }

  .hero-right {
    padding: 80px 24px 80px 24px;
  }

  .hero-right h2 {
    text-align: center;
    margin-bottom: 16px;
  }

  .hero-right .social {
    display: none;
  }

  .container {
    max-width: 700px;
  }

  h1 {
    position: absolute;
    font-size: 56px;
    right: -32px;
    margin-top: 24px;
    text-shadow: 1px 1px 5px #333;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 20px;
  }

  .cards-outer {
    margin-top: 72px;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 48px;
    row-gap: 56px;
  }

  .card p {
    font-size: 16px;
  }

  .img-placeholder {
    height: 240px;
  }

  .img-placeholder span {
    font-size: 40px;
  }

  footer {
    margin-top: 264px;
  }

  .contact {
    padding-top: 54px;
    padding-bottom: 64px;
    display: flex;
    align-items: center;
  }

  .contact-info {
    flex: 0 0 50%;
  }

  .contact img {
    flex: 0 0 50%;
  }

  .contact svg {
    width: 24px;
    height: 24px;
  }

  footer .social {
    margin-top: 32px;
  }

  footer .social svg {
    width: 32px;
    height: 32px;
    margin-right: 24px;
  }
}

@media (min-width: 501px) {
  .hero-left img,
  .hero-right {
    box-shadow: 2px 2px 10px -2px #888888;
  }

  .card {
    padding-bottom: 64px;
  }

  .contact {
    padding-bottom: 64px;
    display: flex;
    align-items: center;
  }

  .contact-info {
    padding-right: 24px;
  }

  footer .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
  }

  footer h2 {
    margin-bottom: 16px;
  }

  address {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

@media (min-width: 1001px) {
  body {
    font-size: 18px;
    background-image: linear-gradient(
      167deg,
      var(--main-color) 50%,
      #ffffff 50%
    );
    background-size: 100% 62em;
  }

  .hero {
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-template-rows: auto auto auto;
    padding-top: 64px;
  }

  .hero-left {
    position: relative;
    grid-area: 1/1/4/2;
  }

  .hero-right {
    font-size: 22px;
    padding: 32px 32px 24px 24px;
    grid-area: 2/2/3/3;
    background-color: #fff;
  }

  .hero-right h2 {
    margin-bottom: 24px;
  }

  .hero .social {
    margin-top: 48px;
    float: right;
  }

  .hero .social svg {
    width: 32px;
    height: 32px;
    margin-left: 16px;
  }

  h1 {
    font-size: 64px;
    bottom: 0;
    padding: 8px;
    margin: 0;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 24px;
  }

  .cards-outer {
    margin-top: 96px;
  }

  .cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
  }

  .img-placeholder span {
    font-size: 48px;
  }

  footer,
  footer address,
  .contact a {
    font-size: 24px;
  }

  .contact {
    padding-top: 64px;
  }

  .contact-info {
    flex: 0 0 40%;
  }

  .contact img {
    flex: 0 0 60%;
  }

  .contact svg {
    width: 36px;
    height: 36px;
  }

  footer .social {
    margin-top: 32px;
  }

  footer .social svg {
    width: 48px;
    height: 48px;
    margin-right: 32px;
  }
}
